.App {
  text-align: center;
  margin-top: 50px;
}

input {
  margin-right: 10px;
  padding: 8px;
  background-color: #2c2c2c;
  width: 220px;
  height: 32px;
  border: 1px solid #373737;
  outline: none;
  border-radius: 4px;
  color: #bababa;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-top: 10px;
}

.li-input {
  color: #bababa;
  width: auto;
}

.li-input-completed {
  width: auto;
  opacity: 0.5;
}

h1 {
  font-size: x-large;
}

button {
  margin-left: 8px;
  padding: 16px;
  width: auto;
  outline: none;
  border: 1px solid #373737;
  color: #202020;
  border-radius: 4px;
}

.add {
  background-color: #626ed9;
  color: #202020;
}

.check {
  background-color: #ecbb5b;
  color: #202020;
}

.checked {
  background-color: #2bd071;
  color: #202020;
}

.remove {
  background-color: #c64444;
  color: #202020;
}
